@use "sass:color";

$header-family: 'Concert One', cursive;
$font-family: 'Noto Sans', sans-serif;

$bg-color: #272727;
$fg-color: #b4b4b4;
$strong-color: #e4e4e4;
$accent-1: #ff652f;
$accent-2: #ffe400;
$accent-3: #14a76c;

$link-color: $accent-3;

body {
  background-color: $bg-color;
  color: $fg-color;
  font-family: $font-family;
  font-size: 1.2rem;
  padding-bottom: 60px;
}

h1, h2, h3, h4, h5 {
  color: $accent-2;
  font-family: $header-family;
}

.subtitle {
  font-family: $font-family;
}

#header {
  h1, h2, h3, h4, h5 {
    text-align: center;
    color: $accent-1;

    a {
      color: $accent-1;
    }

    a:hover {
      text-decoration: none;
    }
  }
}

p {
  strong {
    color: $strong-color;
    font-weight: bolder;
  }

  .emoji {
    color: $strong-color;
    font-weight: bolder;
    writing-mode: vertical-rl;
  }
}

#content {
  a:link, a:visited, a:hover, a:active {
    color: $link-color;
  }

  a:hover {
    opacity: 0.8;
  }
}

.headshot {
  border-radius: 50% !important;
  border: 4px $accent-1 solid;
  width: 300px;
  margin: 0rem;
}

.headshot-container {
  float: right;
  margin: 0rem 0rem 2rem 2rem;
  width: 300px;
}

nav#footer {
  background-color: $accent-3;

  padding-top: 0rem;

  a:link, a:visited, a:hover, a:active {
    color: $bg-color;
  }

  a:hover {
    opacity: 0.8;
  }

  .social-links {
    display: table;
    margin: 0 auto;
    
    .navbar-nav {
      flex-direction: row;

      .nav-item {
        padding: 0rem 1rem;
      }
    }
  }
}

.callout-1, .callout-2, .callout-3 {
  display: block;
  position: relative;
  margin: 2rem 0rem;

  h3 {
    margin: 0rem;
    padding: 1rem 0.2rem;
    height: 100%;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
  }

  p {
    margin-left: 3rem;
  }
}

.callout-1 {
  border: 2px solid $accent-1;
  h3 {
    color: $bg-color;
    background-color: $accent-1;
  }
}

.callout-2 {
  border: 2px solid $accent-2;
  h3 {
    color: $bg-color;
    background-color: $accent-2;
  }
}

.callout-3 {
  border: 2px solid $accent-3;
  h3 {
    color: $bg-color;
    background-color: $accent-3;
  }
}

table, th, td {
  border: 1px solid $accent-1;
}

th, td {
  padding: 1rem 0.5rem;
  vertical-align: center;
}

th:first-child, td:first-child {
    min-width: 8rem;
    text-align: center;
}

th {
  background-color: $accent-1;
  color: $bg-color;
  font-weight: bold;
}

// media break for everything in bootstrap md and below
@media (max-width: 767.98px) {
  #page-title {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0.5rem !important;
    padding-top: 1rem !important;
    margin-bottom: 0rem !important;
  }

  .headshot-container {
    margin: 1rem;
    float: none;
    text-align: center;
    width: 100%;
  }

  h1, h2, h3, h4, h5 {
    text-align: center;
  }

  p {
    text-align: justified;
    text-justify: inter-word;
  }
}
