@use "sass:color";

$header-family: 'Roboto Slab', serif;
$font-family: 'Lato', sans-serif;

$light-shade: #f8f7f6;
$dark-shade: #333a59;
$dark-accent: #913939;
$main-color: #7c9fc6;
$light-accent: #6e8397;

$link-color: $light-accent;

.shadowed {
  box-shadow: 0 10px 20px -12px rgba(0,0,0,0.42), 0 3px 20px 0px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.2);
}

.text-shadowed {
  text-shadow: 0 3px 20px rgba(0,0,0,0.12), 0 8px 10px rgba(0,0,0,0.2);
}

body {
  background-color: $light-shade;
  color: $dark-shade;
  font-family: $font-family;
  font-size: 1.2rem;
  padding-bottom: 60px;
}

h1, h2, h3, h4, h5 {
  color: $dark-accent;
  font-family: $header-family;
  font-weight: 700;
}

.subtitle {
  font-family: $font-family;
}

#header {
  #page-title {
    margin: 1rem 0rem;
    text-align: center;

    #title-heading {
      @extend .text-shadowed;
      color: $main-color;
      font-weight: 900;
      font-size: 11vw;
      white-space: nowrap;
      display: inline-block;

      a {
        color: $main-color;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }

  nav {
    @extend .shadowed;
    background-color: $main-color;
    margin: 0rem 5vw;
    margin-bottom: 2rem;

    border-radius: 3px;
    .navbar-nav {
      flex-direction: row;
      .nav-item {
        padding: 0rem 0.75rem;

        &.active {
          background-color: rgba(255,255,255,0.1);
        }

        .nav-link {
          color: $light-shade;

          &.disabled {
            opacity: 0.5;
          }

        }

        &.dropdown {
          .dropdown-menu {
            @extend .shadowed;
            position: absolute;

            .dropdown-item:hover {
              background-color: $main-color;
              color: $light-shade;
            }
          }
        }
      }
    }
  }
}

p {
  strong {
    font-weight: bolder;
  }

  .emoji {
    font-weight: bolder;
    writing-mode: vertical-rl;
  }
}

#content {
  a:link, a:visited, a:hover, a:active {
    color: $link-color;
  }

  a:hover {
    opacity: 0.8;
  }
}

.headshot {
  border-radius: 50% !important;
  border: 4px $dark-accent solid;
  width: 300px;
  margin: 0rem;
}

.headshot-container {
  float: right;
  margin: 0rem 0rem 2rem 2rem;
  width: 300px;
}

table, th, td {
  border: 1px solid $main-color;
}

th, td {
  vertical-align: center;
}

th:first-child, td:first-child {
    min-width: 8rem;
    text-align: center;
}

th {
  background-color: $main-color;
  color: $light-shade;
  font-weight: bold;
  padding: 0.3rem;
}

td {
  padding: 0.5rem;
}

img.emoji {
  max-height: 1.5rem;
}

// media break for everything in bootstrap md and below
@media (max-width: 767.98px) {
  #page-title {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0.5rem !important;
    padding-top: 1rem !important;
    margin-bottom: 0rem !important;
  }

  .headshot-container {
    margin: 1rem;
    float: none;
    text-align: center;
    width: 100%;
  }

  h1, h2, h3, h4, h5 {
    text-align: center;
  }

  p {
    text-align: justified;
    text-justify: inter-word;
  }
}
