---
title: Contact Me
identifier: contact
---

<h1 class="display-3">Contact Me</h1>

<p>If you're interested in getting in touch for whatever reason<sup>*</sup>, here are my coordinates!</p>

<ul>
  <li>
    <strong>Email:</strong> tommy@tommymorgan.name
  </li>
  <li>
    <strong>Video:</strong> book time on my <a href="https://app.harmonizely.com/tommy">Harmonizely</a>.
  </li>
  <li>
    <strong>Phone:</strong> 843.246.5727
  </li>
</ul>

<p>You can also find me on a few social sites:</p>

<ul>
  <li>
    <strong>LinkedIn:</strong> <a href="https://linkedin.com/in/tommy-morgan">Tommy Morgan</a>
  </li>
  <li>
    <strong>GitHub:</strong> <a href="https://github.com/wellbredgrapefruit">wellbredgrapefruit</a>
  </li>
  <li>
    <strong>Twitter:</strong> <a href="https://twitter.com/itstommymorgan">@itstommymorgan</a>
  </li>
</ul>

<p><strong>*</strong> - I will not respond to cold sales contacts, requests for paid consulting surveys, or other forms of spam. Please don't waste my time and yours by attempting it.</p>
