---
title: Home
---
<% current_year = Date.today.year %>

<h1 class="display-3">Hello.</h1>
<h3 class="subtitle">I'm Tommy Morgan, I lead Software Engineering teams.</h3>
<div class="headshot-container">
  <img src="/images/tommy.jpeg" class="headshot">
</div>

<p>Currently I'm leading teams at <a href="https://marqeta.com" target="_blank">Marqeta</a>, but I've also led teams at <a href="https://teamtreehouse.com" target="_blank">Treehouse</a>, <a href="https://about.gitlab.com" target="_blank">GitLab</a>, and <a href="https://auth0.com" target="_blank">Auth0</a>.
</p>

<p>
I've been programming computers since I figured out I could make changes to
<a href="https://en.wikipedia.org/wiki/Gorillas_(video_game)" target="_blank">GORILLA.BAS</a>
on my dad's PC. Professionally, I've been doing software development for <%= current_year - 2006 %> years and leading teams for <%= current_year - 2012 %>. I consider myself to be a <strong>people leader who is technically competent</strong>: while I have great technical experience, most of the value that I bring to an organization is in how I deal with people and processes.
</p>

<p>A core value of mine is that <strong>people are not resources</strong>. Managing resources calls for ruthless optimization, where you are constantly attempting to maximize utilization and minimize costs - it is a game that plays out in spreadsheets and databases. Managing people, on the other hand, recognizes that every person is different, and calls for empathy - it is a game that plays out in conversations and relationships.</p>

<p>I believe that <strong>management is not a new trade</strong>, even if software engineering is a relatively new industry. There is a wealth of wisdom to be taken from outside the world of tech startups, and I've done my best to collect and synthesize that knowledge into patterns that help me, my teams, and my peers to be more effective and efficient. Some of my proudest professional accomplishments have been in training and coaching new managers to success.</p>

<p>I'm a big proponent of remote work. I've been working from my own home for the last <%= current_year - 2008 %> years, both as an individual contributor and as a leader in companies as small as 20 people and as large as 800+. I've found that fully remote companies offer the most advantages, while partially-remote companies provide extra challenges. But in every case I've experienced, <strong>remote work is not special - it's just different</strong>. There are good lessons and patterns we can follow for building amazing teams that don't share an office, and companies that follow these processes will have a major advantage in the current era of globalization.</p>

<p>And no, in case you can't tell - I am <em>not</em> a web designer. <span class="emoji">:)</span> But I try my best.</p>
